<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RestroKart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StoreRestaurant</display-name>
    <servlet-name>StoreRestaurant</servlet-name>
    <servlet-class>servlets.StoreRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreRestaurant</servlet-name>
    <url-pattern>/StoreRestaurant.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logo</display-name>
    <servlet-name>Logo</servlet-name>
    <servlet-class>servlets.Logo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logo</servlet-name>
    <url-pattern>/Logo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantList</display-name>
    <servlet-name>RestaurantList</servlet-name>
    <servlet-class>servlets.RestaurantList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantList</servlet-name>
    <url-pattern>/restaurantlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreBranch</display-name>
    <servlet-name>StoreBranch</servlet-name>
    <servlet-class>servlets.StoreBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreBranch</servlet-name>
    <url-pattern>/StoreBranch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchList</display-name>
    <servlet-name>BranchList</servlet-name>
    <servlet-class>servlets.BranchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchList</servlet-name>
    <url-pattern>/BranchList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreMenu</display-name>
    <servlet-name>StoreMenu</servlet-name>
    <servlet-class>servlets.StoreMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreMenu</servlet-name>
    <url-pattern>/StoreMenu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuList</display-name>
    <servlet-name>MenuList</servlet-name>
    <servlet-class>servlets.MenuList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuList</servlet-name>
    <url-pattern>/MenuList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreState</display-name>
    <servlet-name>StoreState</servlet-name>
    <servlet-class>servlets.StoreState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreState</servlet-name>
    <url-pattern>/StoreState.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreCity</display-name>
    <servlet-name>StoreCity</servlet-name>
    <servlet-class>servlets.StoreCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreCity</servlet-name>
    <url-pattern>/StoreCity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityList</display-name>
    <servlet-name>CityList</servlet-name>
    <servlet-class>servlets.CityList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityList</servlet-name>
    <url-pattern>/CityList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreAddress</display-name>
    <servlet-name>StoreAddress</servlet-name>
    <servlet-class>servlets.StoreAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreAddress</servlet-name>
    <url-pattern>/StoreAddress.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreUnit</display-name>
    <servlet-name>StoreUnit</servlet-name>
    <servlet-class>servlets.StoreUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreUnit</servlet-name>
    <url-pattern>/StoreUnit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreItem</display-name>
    <servlet-name>StoreItem</servlet-name>
    <servlet-class>servlets.StoreItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreItem</servlet-name>
    <url-pattern>/StoreItem.do</url-pattern>
  </servlet-mapping>
</web-app>